[Unit]
Description=The super meme service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/randomeme/meme_flask.py

[Install]
WantedBy=multi-user.target